html {
    height: 100%;
}
body {
    background: #0D343A;
    background: -webkit-gradient(Linear,0% 0%,0% 100%, from(#0D343A), to(#000000));
    overflow: hidden;
}
.drop {
    background: -webkit-gradient(Linear, 0% 0%, 0% 100%, from(#0D343A), to(#ffffff99));
    width: 1px;
    height: 89px;
    position: absolute;
    bottom: 200px;
    -webkit-'animation': fall .63s linear infinite;
    -moz-'animation':  fall .63s linear infinite0;
}
'@-webkit-keyframes' fall {
    to {
        margin-top: 900px;
    }
}
'@-moz-keyframes' fall {
    to {
        margin-top: 900px;
    }
}