h1 {
    color: red;
    background-color: yellow;
    border-radius: 300px;
    width: 300px;
    height: 32px;
}

p {
    color: red;
    background-color: greenyellow;
    border-radius: 5px;
    width: 250px;
    height: 20px;
}

.fr {
    color: red;
    background-color: yellow;
    border-radius: 5px;
    width: 80px;
    height: 20px;
}

.vg {
    color: green;
    background-color: yellow;
    border-radius: 5px;
    width: 80px;
    height: 20px;
}

#two {
    color: darkblue;
}