h1 {
    color: red;
    background-color: yellow;
}

p {
    color: red;
    background-color: greenyellow;
    border-radius: 5px;
    width: 250px;
    height: 20px;
}

.fr {
    color: red;
    background-color: yellow;
    border-radius: 5px;
}

.vg {
    color: green;
    background-color: yellow;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}

