h1{
    color: aqua;
    background-color: antiquewhite;
}
p{
    color: blue;
    background-color: blanchedalmond;
}

h2{
    color:red;
    background-color: beige;
}
p1 {
    color: blueviolet;
    background-color: azure;
}